{% if monit_service_params.path is defined %}check file {{ monit_service_name }} with path {{ monit_service_params.path }} {{ monit_service_params.poll_time|default('') }}
{% endif %}{% if monit_service_params.pid is defined %}check process {{ monit_service_name }} with pidfile {{ monit_service_params.pid }} {{ monit_service_params.poll_time|default('') }}{% elif monit_service_params.process_name is defined %} check process {{ monit_service_name }} matching {{ monit_service_params.process_name }} {{ monit_service_params.poll_time|default('') }}
{% endif %}{% if monit_service_params.group is defined %}    group {{ monit_service_params.group }}
{% endif %}    start program = "/bin/systemctl start {{ monit_service_name }}"
    stop program = "/bin/systemctl stop {{ monit_service_name }}"
{% for check in monit_service_params.checks|default([]) %}    {% if check.type == 'size' %}if size {{ check.operator|default('EQUAL') }} {{ check.value|default('0') }}{% endif %}
{% if check.type == 'host' %}if failed{{ " host " ~ check.host if check.host is defined else '' }}{{ " port " ~ check.port if check.port is defined else '' }}{{ " type " ~ check.port_type if check.port_type is defined else '' }}{{ " protocol " ~ check.protocol if check.protocol is defined else '' }}{{ " request " ~ check.request if check.request is defined else '' }}{% endif %}
{% if check.type == 'socket' %}if failed unixsocket {{ check.path }} {{ " type " ~ check.port_type if check.port_type is defined else '' }}{{ " protocol " ~ check.protocol if check.protocol is defined else '' }}{{ " request " ~ check.request if check.request is defined else '' }}{% endif %}{{ " with timeout " ~ check.timeout ~ " seconds" if check.timeout is defined else '' }}{{ " for " ~ check.times ~ " times within " ~ check.cycles ~ " cycles" if check.times is defined and check.cycles is defined else '' }}{{ " for " ~ check.cycles ~ " cycles" if check.cycles is defined and check.times is not defined else '' }} then {{ check.action|default('alert') }}
{% endfor %}
